@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (ViewBag.user_type != null && ViewBag.user_type.Contains("a"))
{
    <h1>Admin Page</h1>
}
else if (ViewBag.user_type != null && ViewBag.user_type.Contains("m"))
{
    <h1>Manager Page</h1>
}
else if (ViewBag.user_type != null && ViewBag.user_type.Contains("r"))
{
    <h1>Registered Users Page</h1>
}


<a href="@Url.Action("Logout", "Home")">Logout</a>